version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    volumes:
      - certs:/opt/keycloak/conf/certs
    environment:
      KC_HTTPS_CERTIFICATE_FILE: /opt/keycloak/conf/certs/keycloak.p12
      KC_HTTPS_CERTIFICATE_PASSWORD: changeit
      KC_HTTPS_PORT: 8443
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "8443:8443"

  java-app:
    build: ./java-app
    environment:
      JAVA_OPTS: >-
        -Djavax.net.ssl.trustStore=/truststore/truststore.jks
        -Djavax.net.ssl.trustStorePassword=changeit
        -Dkeycloak.url=https://keycloak:8443
        -Dspring.main.allow-circular-references=true
    volumes:
      - truststore:/truststore
    depends_on:
      - keycloak
      - cert-generator
    ports:
      - "8080:8080"

  cert-generator:
    image: alpine:3.21
    volumes:
      - certs:/certs
      - truststore:/truststore
      - ./renew-certs.sh:/renew-certs.sh
    entrypoint: sh -c "chmod +x /renew-certs.sh && /renew-certs.sh"
    environment:
      SLEEP_DURATION: 300  # 5 minutes
volumes:
  certs:
  truststore:
networks:
  keycloak-network:
    driver: bridge